@font-face {
  font-family: "LexendGiga"; 
  src: url("./LexendGiga-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

h1{
  font-family: 'LexendGiga';
  color: white;
  font-size: 48px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
}

.App2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  align-items: "center";
}

.Background{
  background-image: url(./Images/LiveBackground.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home {
  background-image: url('./Images/logoOff.png');
  cursor: pointer;
  height: 250px;
  width: 250px;
}

#home2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image: url('./Images/logo2.png');
  cursor: pointer;
  height: 250px;
  width: 250px;
}

#home:hover {
  background-image: url('./Images/logoOn.png');
  height: 434px;
  width: 434px;
}

#button {
  background-image: url('./Images/buttonOff.png');
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-bottom: 41px;
}

#excess {
  height: 12vh;
  width: 23vw;
  margin-bottom: 22px;
  font-size: 2vw;
}

#button:hover {
  background-image: url('./Images/buttonOn.png');
  height: 180px;
  width: 180px;
  margin-top: -41px;
  margin-left: -37px;
  margin-bottom: 2px;
}

#curve {
  background-image: url('./Images/curve.png');
  background-size: cover;
  width: 100vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.store{
  background-image: url('./Images/Background.png');
  background-size: cover;
  min-height: 100vh;
  padding: 2% 5%;
}

.basket{
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.40) 10.63%, rgba(255, 255, 255, 0.10) 73.38%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
  font-family: 'LexendGiga';
  color: white;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
}

#store{
  width: 128px;
  height: 60px;
}

.basket:hover{
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.50) 10.63%, rgba(255, 255, 255, 0.20) 73.38%);
}

.modal-text{
  font-family: 'LexendGiga';
  color: rgba(255, 255, 255, 0.40);
  font-size: 22px;
  display: flex;
  align-items: flex-start;
}

.continue{
  width: 215px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.1) 10.63%, rgba(255, 255, 255, 0.05) 50.38%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
  font-family: 'LexendGiga';
  color: white;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}

.block{
  width: 23vw;
  margin-bottom: 60px;
  img{
    width: 23vw;
  }
}

.price{
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 20px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

p{
  font-family: 'LexendGiga';
  color: white;
  font-size: 20px;
}

.buttons{
  position: relative;
  top: 220px;
  display: flex;
  flex-direction: column;
}

.icons{
  width: 5vw;
}

.excess{
  position: absolute;
  left: 10%; 
  top: 35%;
  width: 25vw;
}

.store-title{
  position: absolute;
  left: 44vw;
}

.dawn{
  position: absolute;
  left: 70%;
  top: 35%;
  width: 25vw;

}

#officialLyricVideo{
  width: 23vw;
  height: 3vw;
  font-size: 1.2vw;
}

#add-to-basket{
  height: 40px;
  text-align: center;
  padding-top: 4px;
}

#email{
  text-align: center;
  width: 18vw;
  height: 60px;
  padding: 15px
}

@media (max-width: 600px) { 
  #curve {
    background-image: url('./Images/curveMobile.png');
    position: absolute;
    height: 160vh;
    width: 220px;
    top: 70%;
    left: 47%;
    background-color: black;
  }

  #excess {
    height: 20vw;
    width: 78vw;
    margin-bottom: 22px;
    font-size: 24px;
  }

  #officialLyricVideo{
    height: 14vw;
    width: 78vw;
    margin-bottom: 22px;
    font-size: 18px;
  }

  .basket{
    font-size: 12px;
  }

  #store{
    width: 70px;
    height: 35px;
    margin: 32px;
  }

  .buttons{
    position: relative;
    top: -450px;
  }

  .excess{
    position: absolute;
    left: 5%; 
    top: 65%;
    width: 90vw;
  }

  .dawn{
    position: absolute;
    left: 5%; 
    top: 100%;
    width: 90vw;
  
  }

  .icons{
    width: 17vw;
  }

  .App2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 150vh;
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .block{
    width: 43vw;
    margin-bottom: 60px;
    img{
      width: 43vw;
    }
  }

  .store-title{
    font-size: 32px;
    top: 80px;
    left: 35vw;
  }

  p{
    font-size: 12px;
  }

  .modal-text{
    font-size: 18px;
  }

  #add-to-basket{
    height: 30px;
    text-align: center;
    padding-top: 4px;
  }

  .continue{
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(127deg, rgba(255, 255, 255, 0.1) 10.63%, rgba(255, 255, 255, 0.05) 50.38%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
    font-family: 'LexendGiga';
    color: white;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
  }

  #email{
    text-align: center;
    width: 60vw;
    height: 60px;
    padding: 15px;
    font-size: 18px;
  }
}
